body { background: rgb(54,82,110); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(54,82,110,1) 0%, rgba(54,82,110,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,82,110,1)), color-stop(100%,rgba(54,82,110,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(54,82,110,1) 0%,rgba(54,82,110,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(54,82,110,1) 0%,rgba(54,82,110,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(54,82,110,1) 0%,rgba(54,82,110,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(54,82,110,1) 0%,rgba(54,82,110,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36526e', endColorstr='#36526e',GradientType=0 ); /* IE6-9 */



}

.logo{ margin-top:3px;
	margin-left:280px;
	float:left;
}

#txtbox{ width:400px;
	height:50px;
	margin-top: 50px;
	margin-left:20px;
	float:left;
}

.button1{font-family:Showcard Gothic;
   		font-size:20px;
   		color:#FFFFFF;
   		background:#2c4762;
		width: 150px;
		height: 50px;
		margin-right:320px;
		margin-top: 50px;
    	border-radius: 10px;
   		border-style:none;
		float:right;
}

.button1:hover{
   color:#000000;
}

.hiwalay{ width:1350px;
	height:180px;
}
.search-result{background: rgb(77,82,87); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(77,82,87,1) 0%, rgba(55,59,65,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,82,87,1)), color-stop(100%,rgba(55,59,65,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(77,82,87,1) 0%,rgba(55,59,65,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(77,82,87,1) 0%,rgba(55,59,65,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(77,82,87,1) 0%,rgba(55,59,65,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(77,82,87,1) 0%,rgba(55,59,65,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5257', endColorstr='#373b41',GradientType=0 ); /* IE6-9 */

width:650px;
margin-left:350px;
border-radius:10px;
padding:20px;
}

.found{ font-family:Bernard MT Condensed;
	font-size:20px;
}

.title{ margin-top:10px;
	margin-bottom:10px;
	font-family:Britannic Bold;
	
}

.year{ margin-top:5px;
	margin-bottom:5px;
	font-family:Bauhaus 93;
	color:#52acbb;
}

.rating{ margin-top:5px;
	margin-bottom:5px;
	font-family:Bauhaus 93;
	color:#52acbb;
}

.synopsis{ margin-top:10px;
	margin-bottom:10px;
	font-family:Bradley Hand ITC;
	color:#FFFFFF;
}

.cast{ margin-bottom:10px;
	font-family:Chaparral Pro Light;
	color:#c58585;
}
.noti{ margin-top:10px;
	margin-bottom:10px;
	font-family:Britannic Bold;
}
